# Place to Play with QueryHandler

## imports

In [ ]:

import Queryhandler.py as qh
import config

In [ ]:
cnx = qh.getConnection(config)
cursor = cnx.cursor()

In [ ]:
create_database(cursor, 'Testing_Database')

In [ ]:
database_instatiation_check(cursor, 'Testing_Database')

# Without created methods

In [14]:
import mysql.connector
import config

In [11]:
DBNAME = 'justinDB'

In [12]:
cnx = mysql.connector.connect(
    host = 'balesdb.cpabc6otoy2h.us-east-2.rds.amazonaws.com',
    user = 'justin',
    passwd = 'GreenPortS&les10320',
    port = '3306',
    database = DBNAME
)

In [7]:
config.credentials['pass']

'GreenPortS&les10320'

In [13]:
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x110be39d0>

In [15]:
cnx.close()

In [16]:
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x110be39d0>

In [17]:
cnx.disconnect()

In [18]:
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x110be39d0>

In [19]:
cursor = cnx.cursor()

OperationalError: MySQL Connection not available.

In [20]:
cnx = mysql.connector.connect(
    host = config.credentials['host'],
    user = config.credentials['user'],
    passwd = config.credentials['pass'],
    port = config.credentials['port'],
    database = DBNAME
)
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x110bf4510>

In [21]:
cursor = cnx.cursor()

In [22]:
print(cursor)

CMySQLCursor: (Nothing executed yet)

In [8]:
try:
    cursor.execute(
    "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DBNAME))
except mysql.connector.Error as err:
    print('failed to create database: {}'.format(err))

In [13]:
#check to see if database exists
try:
    cursor.execute('USE {}'.format(DBNAME))
    cnx.database = 'ClientAxes'
except:
    print('cannot use database')

In [23]:
#make a table to play with
TABLES = {}
TABLES['clients'] = (
    "CREATE TABLE clients ("
    "  clientID int(11) NOT NULL AUTO_INCREMENT,"
    "  firstName varchar(16) NOT NULL,"
    "  lastName varchar(16) NOT NULL,"
    "  gender enum('M', 'F') NOT NULL,"
    "  PRIMARY KEY (clientID)"
    ") ENGINE=InnoDB"
)
TABLES['requests'] = (
    "CREATE TABLE requests ("
    "  requestID int(11) NOT NULL AUTO_INCREMENT,"
    "  clientID int(11) NOT NULL,"
    "  rating varchar(16) NOT NULL,"
    "  yield int(11) NOT NULL,"
    "  maturity int(11) NOT NULL,"
    "  sector varchar(16) NOT NULL,"
    "  bondticker int(11) NOT NULL,"
    "  PRIMARY KEY (requestID)"
    ") ENGINE=InnoDB"
)

# Create Tables

In [ ]:
create_table_str = """
CREATE TABLE clients (clientID int(11) NOT NULL AUTO_INCREMENT )

"""

In [24]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
#         if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
#             print("already exists.")
#         else:
        print(err.msg)
    else:
        print("OK")

Creating table clients: OK
Creating table requests: OK

# Add Examples for tables

In [31]:
# Write Insert stattement
#clients : clientID, firstname, lastname, gender
insert_query = """
INSERT INTO clients
VALUES 
('0','Trevor', 'OHearn', 'm')
"""

In [ ]:
cursor.execute("insert into clients value ('0', 'Brendan', 'OHearn', 'm');")

In [32]:
cursor.execute(insert_query)

In [37]:
cnx.commit()

# Delete from tables

In [38]:
delete_query = """
DELETE FROM clients
WHERE firstname = {}
;
""".format('Brendan')

In [39]:
cursor.execute(delete_query)

ProgrammingError: 1054 (42S22): Unknown column 'Brendan' in 'where clause'

# Remember to Commit!

In [40]:
cnx.commit()

MySQLInterfaceError: Lost connection to MySQL server during query

# Remember to Close Connections!

In [41]:
cursor.close()
cnx.close()